# macOS
.DS_Store

# JetBrains PyCharm
.idea/

# Python
__pycache__/

# Anaconda environment
.conda/

# Jupyter Notebooks
notebooks/
*.ipynb

# tmp
tmp/

# tensorboard runs
runs/

runs/

# pyc
*.pyc

# bin
*.bin

# dat
*.dat

# mappings
*.json